<form class="autocomplete-form">
  <mat-form-field class="autocomplete-field" appearance="fill">
    <mat-label i18n>Cities</mat-label>
    <input
      type="text"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" cdkVirtualScrollingElement>
      <cdk-virtual-scroll-viewport
        *ngIf="filteredOptions | async as options"
        appendOnly
        maxBufferPx="1500"
        [itemSize]="options.length < 5 ? 50 : 5"
      >
        <mat-option *cdkVirtualFor="let option of options" [value]="option">
          {{ option.name }}
        </mat-option>
      </cdk-virtual-scroll-viewport>
    </mat-autocomplete>
  </mat-form-field>
</form>
